alias reload="source $HOME/.zshrc; echo -e \"\ue2a2 Done!\""
alias edit="$EDITOR $HOME/.zshrc $HOME/.aliases"


# Override defaults

# alias cd="z"

# alias l="exa -la --group-directories-first --icons"
# alias ls="exa -ah --icons"
# alias la="exa -lagh --group-directories-first --icons"
# alias ll="exa -laghmuU --group-directories-first --icons"
alias t="exa -Tl --icons"
alias tree="exa -T --icons"

alias vi="nvim"
alias vim="nvim"
alias _vim="vi"

alias cat="bat"

alias mk="take"
alias md="take"

alias ytd="yt-dlp"

ytg() {
    yt-dlp -F $1
}

alias brewup="brew upgrade --force-bottle && brew cleanup && brew cask cleanup && brew doctor && brew prune && npm-check -g -u"
alias caskup="brew upgrade --cask --greedy"
alias npmup="nvm install --lts --reinstall-packages-from=default --latest-npm"
alias gemup="sudo gem update --system && sudo gem update --no-document"
alias upgrade="brew -v update && brewup && brew doctor && npm i -g npm && npm update -g && "

alias hosts="sudo $EDITOR /etc/hosts"

alias vm="gcloud compute --project \"mirkomay-01\" ssh --zone \"asia-east1-c\" \"debian\""
alias nasty="ssh nasty.voodwale.synology.me -p 2222" #alias nasty="ssh nasty.local -p 2222"
# alias rasp="ssh pi@raspberrypi.local"
alias rasp1="ssh pi@rasp1.local"
alias rasp2="ssh pi@rasp2.local"
alias hassio="ssh hassio@hassio.voodwale.synology.me" #alias hassio="ssh hassio@hassio.local"
alias nuc="ssh mirko@nuc.voodwale.synology.me" #alias nuc="ssh mirko@nuc.local"