alias reload="source $HOME/.zshrc; echo -e \"\ue2a2 Done!\""
alias edit="$EDITOR $HOME/.zshrc $HOME/.aliases"

alias l="colorls -lA --sd --gs"
alias ll="colorls -lA --sd --gs --report"
alias ls="colorls --sd --report"
alias la="colorls -la --sd --gs --report"
alias t="colorls --tree --dirs --sd --gs --report"
alias tree="colorls --tree --sd --gs -A --report"

alias mk="take"
alias md="take"

alias e="ember"

alias brewup="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew doctor; brew prune; npm-check -g -u"
alias upgrade="brewup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document"

alias hosts="sudo $EDITOR /etc/hosts"
alias vhosts="sudo $EDITOR /usr/local/etc/apache2/2.4/extra/httpd-vhosts.conf"
alias httpdconf="sudo $EDITOR /usr/local/etc/apache2/2.4/httpd.conf"
alias phpini="sudo $EDITOR /usr/local/etc/php/5.6/php.ini"
